@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;1,500;1,600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

body{
    line-height: 1.5;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--contColor);
}

#container {
    display: flex;
    align-items: center;
    gap: 20px;
}

#card{
    background-color: var(--cardColor);
    padding: 15px;
    border-radius: 20px;
    width: 300px;
    /* display: flex; */
}

.apartDetails{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 5px auto;
    width: 100%;
}

.heading h1{
    font-size: 1rem;
    font-weight: 600;
}

.heading h2{
    font-size: .7rem;
    font-weight: 400;
    color: var(--iconCol);
}

.price .amount{
    font-size: 1rem;
    font-weight: 500;
    color: var(--subtleColor);
    text-align: right;
}

.price p{
    font-size: .7rem;
}

i{
    font-size: 1.1rem;
    color: var(--iconCol);
}

.iconDiv{
    display: flex;
    align-items: center;
    gap: 15px;
    text-align: center;
    margin: 5px auto;
}

.iconDiv span{
    font-size: .8rem;
}

.finance{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--contColor);
    padding: 15px;
    border-radius: 15px;
    width: 100%;
}

.finance h2{
    font-size: .6rem;
    font-weight: 500;
    color: var(--iconCol);
}

.finance p{
    font-size: .8rem;
    font-weight: 500;
    color: var(--subtleColor);
}

.tokenPrice, .projIRR{
    border-right: 2px solid var(--iconCol2);
    padding: 0px 7px 0px 0px;
    margin-right: 10px;
}

.imgDiv{
    position: relative;
    width: 100%;
    height: 250px;
    overflow: hidden;
    border-radius: 20px;
}

.imgDiv img{
    width: 150%;
    background-position: center;
}


.status{
    position: absolute;
    font-weight: 400;
    font-size: .7rem;
    top: 10px;
    left: 20px;
    background-color: var(--cardColor);
    padding: 3px 20px 3px 30px;
    border-radius: 20px;
}

.status::before{
    content: "";
    background-color: var(--active);
    width: 8px;
    height: 8px;
    border-radius: 50%;
    position: absolute;
    top: 9px;
    left: 15px;
}

.actions{
    display: flex;
    gap: 3px;
    flex-direction: column;
    position: absolute;
    bottom: 25px;
    right: 20px;
}

.uil-heart, .uil-link{
    background-color: var(--textColor);
    width: 35px;
    height: 35px;
    padding: 10px;
    border-radius: 50px;
    color: var(--contColor);
    font-size: 1.2rem !important;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.uil-heart:hover, .uil-link:hover{
    background-color: var(--soldOut);
} 

.uil-heart.active, .uil-link.active{
    background-color: var(--canceled);
    color: var(--cardColor);
}


:root{
    --contColor: #f7f8f9ff;
    --cardColor: #fff;
    --subtleColor: #50b1c9;
    --soldOut: #0266ffff;
    --canceled: #ff6c66ff;
    --active: #54be95ff;
    --upcoming: #56657fff;
    --textColor: #010e39ff;
    --iconCol: #445572;
    --iconCol2: #abbbd561;
}

